<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <add key="dependencyversion" value="Highest" />
  </solution>

  <packageSources>
	<clear />
	<add key="Open Silver Libs" value="../../opensilverlibs" />
	<add key="MyGet OpenSilver Public" value="https://www.myget.org/F/opensilver/api/v3/index.json" />
	<add key="MyGet" value="https://www.myget.org/F/opensilver-private/api/v3/index.json" />
	<add key="MyGetProxy" value="https://www.myget.org/F/private-nuget-proxy/api/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MyGet>
      <add key="Username" value="package.distribution" />
      <!-- This API key is for WellSky only -->
      <add key="ClearTextPassword" value="6c2710e1-825f-4fef-865d-37045e232930" />
    </MyGet>
    <MyGetProxy>
      <add key="Username" value="package.distribution" />
      <!-- This API key is for WellSky only -->
      <add key="ClearTextPassword" value="6c2710e1-825f-4fef-865d-37045e232930" />
    </MyGetProxy>
  </packageSourceCredentials>
</configuration>
